In [107]:
import numpy as np
import pandas as pd
import sklearn as skl
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
from sklearn.preprocessing import StandardScaler

In [108]:
df =pd.read_csv("train.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [109]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [110]:
import pandas as pd

# Load the first dataset
df1 = pd.read_csv('train.csv')

# Specify the columns you want to keep from the first dataset
columns_to_keep = ['LotArea', 'BedroomAbvGr', 'FullBath', 'HalfBath']

# Create a new DataFrame with only the specified columns
new_df = df1[columns_to_keep]

# Create a new column 'TotalBath' by summing 'FullBath' and 'HalfBath'
new_df['TotalBath'] = new_df['FullBath'] + new_df['HalfBath']

# Drop the original 'FullBath' and 'HalfBath' columns
new_df = new_df.drop(columns=['FullBath', 'HalfBath'])

# Load the second dataset
df2 = pd.read_csv('sample_submission.csv')

# Extract the 'SalePrice' column from the second dataset
price_column = df2[['SalePrice']]

# Add the 'SalePrice' column to the new DataFrame
# Assuming both DataFrames are aligned by their indices
new_df['SalePrice'] = price_column

# Display the new DataFrame
print(new_df)

      LotArea  BedroomAbvGr  TotalBath      SalePrice
0        8450             3          3  169277.052498
1        9600             3          2  187758.393989
2       11250             3          3  183583.683570
3        9550             3          1  179317.477511
4       14260             4          3  150730.079977
...       ...           ...        ...            ...
1455     7917             3          3  164788.778231
1456    13175             3          2  219222.423400
1457     9042             4          2  184924.279659
1458     9717             2          1  187741.866657
1459     9937             3          2            NaN

[1460 rows x 4 columns]

C:\Users\Asus\AppData\Local\Temp\ipykernel_15748\2627124278.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['TotalBath'] = new_df['FullBath'] + new_df['HalfBath']

In [111]:
new_df.isnull().sum()

LotArea         0
BedroomAbvGr    0
TotalBath       0
SalePrice       1
dtype: int64

In [112]:
import pandas as pd

# Load the first dataset
df1 = pd.read_csv('train.csv')

# Specify the columns you want to keep from the first dataset
columns_to_keep = ['LotArea', 'BedroomAbvGr', 'FullBath', 'HalfBath']

# Create a new DataFrame with only the specified columns
new_df = df1[columns_to_keep]

# Create a new column 'TotalBath' by summing 'FullBath' and 'HalfBath'
new_df['TotalBath'] = new_df['FullBath'] + new_df['HalfBath']

# Drop the original 'FullBath' and 'HalfBath' columns
new_df = new_df.drop(columns=['FullBath', 'HalfBath'])

# Load the second dataset
df2 = pd.read_csv('sample_submission.csv')

# Extract the 'price' column from the second dataset
price_column = df2[['SalePrice']]

# Optionally, you may need to ensure that the indices of both DataFrames match
# Assuming they have the same number of rows and should be aligned by their indices

# Add the 'price' column to the new DataFrame
new_df['SalePrice'] = price_column

# Display the new DataFrame
print(new_df)

      LotArea  BedroomAbvGr  TotalBath      SalePrice
0        8450             3          3  169277.052498
1        9600             3          2  187758.393989
2       11250             3          3  183583.683570
3        9550             3          1  179317.477511
4       14260             4          3  150730.079977
...       ...           ...        ...            ...
1455     7917             3          3  164788.778231
1456    13175             3          2  219222.423400
1457     9042             4          2  184924.279659
1458     9717             2          1  187741.866657
1459     9937             3          2            NaN

[1460 rows x 4 columns]

C:\Users\Asus\AppData\Local\Temp\ipykernel_15748\2651684884.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['TotalBath'] = new_df['FullBath'] + new_df['HalfBath']

In [113]:
new_df.isnull().sum()

LotArea         0
BedroomAbvGr    0
TotalBath       0
SalePrice       1
dtype: int64

In [114]:
df2 = new_df.dropna()
df2

      LotArea  BedroomAbvGr  TotalBath      SalePrice
0        8450             3          3  169277.052498
1        9600             3          2  187758.393989
2       11250             3          3  183583.683570
3        9550             3          1  179317.477511
4       14260             4          3  150730.079977
...       ...           ...        ...            ...
1454     7500             2          2  167081.220949
1455     7917             3          3  164788.778231
1456    13175             3          2  219222.423400
1457     9042             4          2  184924.279659
1458     9717             2          1  187741.866657

[1459 rows x 4 columns]

In [115]:
df2.isnull().sum()
df2.duplicated().sum()
df2.describe()

             LotArea  BedroomAbvGr    TotalBath      SalePrice
count    1459.000000   1459.000000  1459.000000    1459.000000
mean    10517.225497      2.866347     1.947910  179183.918243
std      9984.675721      0.816050     0.795237   16518.303051
min      1300.000000      0.000000     0.000000  135751.318893
25%      7549.000000      2.000000     1.000000  168703.011202
50%      9477.000000      3.000000     2.000000  179208.665698
75%     11603.000000      3.000000     3.000000  186789.409363
max    215245.000000      8.000000     4.000000  281643.976117

In [116]:

# Define your features and target variable
X = df2[['LotArea', 'BedroomAbvGr', 'TotalBath']]
y = df2['SalePrice']

In [117]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)

In [118]:
my_model = LinearRegression()

In [119]:
my_model.fit(X_train, y_train)

LinearRegression()

In [120]:
y_pred = my_model.predict(X_test)

In [121]:
print('Coefficients:', my_model.coef_)
print('Intercept:', my_model.intercept_)

Coefficients: [ 5.98960764e-02 -3.30697247e+02  1.03648753e+03]
Intercept: 176363.75428675703

In [122]:
import numpy as np
from sklearn.preprocessing import StandardScaler  # Assuming StandardScaler is used for scaling
# Assuming my_model is your trained machine learning model

# Example training data (you should have this from your training process)
X_train = np.array([[10, 11, 5], [20, 15, 7], [30, 10, 3]])

# Initialize and fit the scaler on training data
scaler = StandardScaler()
scaler.fit(X_train)

# New data point to predict on
new_data = np.array([[13, 12, 6]])

# Scale the new data using the fitted scaler
new_data_scaled = scaler.transform(new_data)

# Make prediction for the new scaled data
new_pred = my_model.predict(new_data_scaled)

print(f'Predicted SalePrice for new data point: {new_pred[0]}')

Predicted SalePrice for new data point: 176998.41932920297

c:\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(